/* required font-faces */
@font-face {
  font-family: 'Neue Helvetica Extended Thin';
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Neue Helvetica Extended Thin"), url("/fonts/Helvetica Neue LT 33 Thin Extended.woff") format("woff");
}

@font-face {
  font-family: 'Neue Helvetica Extended';
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Neue Helvetica Extended"), url("/fonts/Helvetica Neue LT 53 Extended.woff") format("woff");
}

@font-face {
  font-family: 'Neue Helvetica Extended Light';
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Neue Helvetica Extended Light"), url("/fonts/Helvetica Neue LT 43 Light Extended.woff") format("woff");
}

@font-face {
  font-family: 'Neue Helvetica Extended Medium';
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Neue Helvetica Extended Medium"), url("/fonts/Helvetica Neue LT 63 Medium Extended.woff") format("woff");
}

@font-face {
  font-family: 'Neue Helvetica Extended Bold';
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Neue Helvetica Extended Bold"), url("/fonts/Helvetica Neue LT 73 Bold Extended.woff") format("woff");
}

/**************************/
/*Global styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  background: #fdfcfa;
  color: #2f3034;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.subheading,
a {
  margin: 0;
}

p {
  font-family: "Neue Helvetica Extended";
  font-size: 1em;
}

.subheading {
  font-size: 1.6em;
}

strong {
  font-family: "Neue Helvetica Extended Light";
}

a {
  color: #2f3034;
  text-decoration: none;
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
  font-family: "Neue Helvetica Extended Light";
}

.f1 {
  font-size: 3em;
}

.f2 {
  font-size: 2.25em;
}

.f3 {
  font-size: 1.6em;
}

.f4 {
  font-size: 1.25em;
}

.f5 {
  font-size: 1em;
}

.f6 {
  font-size: 0.875em;
}

.main__wrapper {
  margin: 0 10vw;
}

@media screen and (min-width: 1024px) {
  .main__wrapper {
    margin: 0 15vw;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__heading {
  font-weight: 100;
  margin: 0;
}

.intro__heading strong {
  font-weight: 600;
}

.intro__title {
  margin-top: 15vh;
  height: 8em;
  border: 1px solid lightblue;
}

.intro__content {
  margin-top: 15vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* Projects */
.project .project__deets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
}

.project .project__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 100px 100px;
      grid-template-columns: 40px 100px 100px;
}

.project .project__links .demo__link,
.project .project__links .github__link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
}

.project .project__links .demo__link:before,
.project .project__links .github__link:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background: #e6e6e6;
}

.project .project__links .demo__link:after,
.project .project__links .github__link:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 0%;
  background: black;
}

.project .project__links .demo__link:hover:after,
.project .project__links .github__link:hover:after {
  -webkit-animation: showLinkUnderline 0.3s ease forwards;
          animation: showLinkUnderline 0.3s ease forwards;
}

@-webkit-keyframes showLinkUnderline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes showLinkUnderline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.project .view_more_projects_btn {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  cursor: pointer;
  background: transparent;
  font-family: "Neue Helvetica Extended Light";
}

.project .view_more_projects_btn:hover {
  background: #e8eae6;
}

/*about me*/
.tech__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tech__list__item p {
  font-family: "Neue Helvetica Extended Light";
}

.article-item {
  line-height: 1.5em;
  font-family: "Neue Helvetica Extended";
}

.article-item:hover {
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.socials .socials__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #e8eae6;
}

.socials .socials__list .list li a:hover {
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
  text-decoration: underline;
  text-underline-offset: 5px;
}
/*# sourceMappingURL=styles.css.map */